html {
  padding: 0;
  margin: 0;
}
body {
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    background-color: #C9C9C9;
    color: #000000;
    padding: 2em;
}

.inlineMe {
  display:inline;
}

.inlineMe button {
  background-color: rgba(230, 0, 0, 0.4);;
  color: #FFFFFF;
  border:none;
  box-shadow: none;
  border-radius: .25em;
  margin:1px;
  height: auto;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  z-index: 1;
}

.message{
  display:none;
  color: #FFFFFF;
  /*opacity: 0.5;*/
  background-color: rgba(77,77,77,0);
  position:absolute;;
  bottom:20px;
  width: 100%;
  height: auto;
  z-index: -1;
}

#anchor:hover + .message{
  display:block !important;
  z-index:10;
}

h2 {
  font-family: 'Monofett', cursive;
  font-size: 60px;
  color: #e60000;
  margin-left: 1.5em;
  text-decoration: none;
  z-index: 2;
}

/*h2{
  text-decoration: none;
  color: #e60000;
}

h2 a:hover{
  text-decoration: none;
  color: #e60000;
}*/

h3 {
  font-family:'Comfortaa', cursive;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 50px;
  font-size: 65px;
}

h4{
  font-family:'Comfortaa', cursive;
  padding: .5em;
}

h5{
  font-family: 'Comfortaa', cursive;
  /*font-family: 'Andale Mono';*/
  font-weight: bold;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  /*border: solid black 1px;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.backgroundImg{
  position: fixed;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  border-radius: 0;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*--------------- Current User ----------------*/
#login {
  float:right;
  top: 0;
  right: 50px;
  position: absolute;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#login button {
  height: 30px;
}

.spotifyIcon {
  border-radius: 0;
  height: 60%;
  width: 60%;
  float:right;
  margin-right: 10%;
}

.hide {
  display: none;
}

form {
  display: inline-block;
}

.input-group {
  margin-left: 6em;
}

/*.glyphicon:hover {
  cursor: pointer;
}*/

/*------------ Cards --------------*/

.pad {
  padding: .5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: .25em;
  height: 18.5em;
  width: 24em;
  margin: 1em;
  font-family: 'Comfortaa', cursive;
  color: #FFFFFF;
  background-color: rgba(77,77,77,0.85);
  padding: .5em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card-container {
  height: auto;
  overflow: hidden;
  padding: 1em;

}

.card-container:hover {
  height: auto;
}

.spotify {
  height: 5%;
  width: 5%;
}
/*--------------SLIDER----------------*/

.page-content {
  position: relative;
  z-index: 11;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.toggle {
  text-decoration: none;
  font-size: 25px;
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 12;
  cursor: pointer;
  padding-bottom: 0;
  margin-bottom: 0;
}

.toggle span {
  font-size: 10px;
}

.sidebar {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  float:right;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  width: 400px;
  z-index: 10;
}

#sidebarToggle {
  display: none;
  left: 10px;
}

#sidebarToggle:checked + .page-wrap .sidebar {
  right: 0;
}

#sidebarToggle:checked + .page-wrap .toggle {
  right: 420px;
}

#sidebarToggle:checked + .page-wrap .page-content {
  padding-right: 420px;
}

#sidebarToggle:checked + .page-wrap #login {
 right: 410px;
}

/*--------------- Log In --------------------*/
.auth-container{
  margin: 0;
  padding: 0;
}

.auth {
  padding: 6em;
  margin: 6em;
}

.auth .searchBorder {
  width:75%;
  margin-left: 12.5%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .25em;
}

.searchBorder button {
  float:right;
  margin-right: 3%;
  margin-top: 1%;
}

.auth input {
  border-radius: .25em;
  border: none;
  width: 75%;
  height: 3em;
  z-index: 1;
  background: none;
}

.auth input::-webkit-input-placeholder {
   color: #000000;
   font-weight: bold;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
}

.auth a {
  color: inherit;
  border-radius: .25em;
  height: 30px;
  font-size: 16px;
  margin-left: 17%;
  background-color: #e60000;
  box-shadow: none;
}


.byMeBtn {
  margin: 3em auto 3em auto;
}

.auth button {
  background-color: #e60000;
  color: #FFFFFF;
  border:none;
  box-shadow: none;
  border-radius: .25em;
  height: 30px;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  z-index: 1;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
a{
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}
