body {
    /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    background-color: #C9C9C9;
    color: #000000;
    padding: 2em;
}

.inlineMe {
  display:inline;
}

h1 {
  font-family: 'Monofett', cursive;
  font-size: 60px;
  color: #e60000;
  margin-left: 1.5em;
}

form {
  display: inline-block;
}

.input-group {
  margin-left: 6em;
}

.glyphicon:hover {
  cursor: pointer;
}

.pad {
  padding: .5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: .25em;
  height: 12.5em;
  margin: 1em;
  font-family: "Avenir";
  background-color: white;
  padding: .5em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: auto;
}

.card-container {
  height: 10.5em;
  overflow: hidden;
  padding: 2em;
}

.card-container:hover {
  height: auto;
}

/*--------------SLIDER----------------*/

.page-content {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.toggle {
  text-decoration: none;
  font-size: 25px;
  color: black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  padding-bottom: 0;
  margin-bottom: 0;
}

.toggle span {
  font-size: 10px;
}

.sidebar {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  float:right;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  width: 400px;
  z-index: 0;
}

#sidebarToggle {
  display: none;
  left: 10px;
}

#sidebarToggle:checked + .page-wrap .sidebar {
  right: 0;
}

#sidebarToggle:checked + .page-wrap .toggle {
  right: 420px;
}

#sidebarToggle:checked + .page-wrap .page-content {
  padding-right: 420px;
}
