<div class="auth-container">

  <video autoplay loop>
    <source src="../assets/EventSpotReverse.webm" type="video/webm">
  </video>

  <div class="auth">
    <h3><strong>Amplify your night out.</strong></h3>
    <div class="col-sm-12 searchBorder">
      <input ng-model="zipcode" type="text" maxlength="5" placeholder="Search by Zipcode">
      <button type="submit" ng-click="postalSearch()">Search</button>
    </div>
    <div class="col-sm-4"> </div>
    <div class="col-sm-4 byMeBtn">
      <a ui-sref="events">
        <button ng-click="cleared()">Find Events Near Me</button>
      </a>
    </div>
    <div class="col-sm-4"> </div>
  </div>
</div>
