<img src="assets/background2.jpg" class="backgroundImg">
<div id="login">
  <!-- <a href="/login"><button>Sign In with Spotify</button></a> -->
</div>
<form>
  <div class="form-group">
    <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" ng-model="search" placeholder="Find Your Event">
      </div>
    </div>
  </div>
</form>

<h3>{{meta.geolocation.display_name}}</h3>

<div class="container">
  <div ng-repeat="events in list | filter: search">
    <div class="col-md-4 pad">
      <div class="card clearfix">

        <div class="card-container" id="anchor">
          <!-- <span style="float:right" class="glyphicon glyphicon-heart-empty favorite" ng-click="getEvent($index)"></span> -->
          <div style="font-size:18px;font-weight:bold;">{{events.title}}</div>
          <br>
          <div>{{events.venueName}}, {{events.city}}</div>
          <div>
            {{events.date | date: "MM/dd/yyyy @ h:mma"}} &nbsp <a href="{{events.url}}" target="_blank"><span style="font-size:15px;color:red;font-weight:bold;">Tickets</span></a>
          </div>
          <br>
          <div class="inlineMe" ng-repeat="artist in events.artists">
            <a ng-href="/#/events/play/{{artist}}+{{$parent.events.venueName}}+{{$parent.events.city}}">
              <button ng-click="toggleCheck(artist)">{{artist.trim()}}</button>
            </a>
          </div>
        </div>
        <p class="message" style="font-size:12px;">Click artist for <img class="spotify" src="assets/spotify.png"> player and venue map.</p>
      </div>
    </div>
  </div>
  <div ui-view>
  </div>
