<input type="text" ng-model="search" placeholder="Find Your Event" />
<h3>{{meta.geolocation.display_name}}</h3>
<div style="display:inline-block;">
  <div ng-repeat="events in list | filter: search">
    <div>Event: {{events.title}}</div>
    <div>Venue: {{events.venueName}}, {{events.city}}</div>
    <div>Date: {{events.date | date: 'MM/dd/yyyy @ h:mma'}}</div>
    <div>
      <a href="{{events.url}}" target="_blank"><span>Tickets</span></a><br/>
    </div>
    <div class="inlineMe" ng-repeat="artist in events.artists">
      <button><a ng-href= "/#/events/{{artist}}">{{artist.trim()}}</a></button>
    </div>
    <span style="float:right" class="glyphicon glyphicon-heart-empty favorite" ng-click='getEvent($index)'></span>
  </div>
</div>
<div ui-view class="col-sm-6" style="display:inline-block;float:right;position:fixed;">

</div>
